#!/bin/bash

TODAY=`date  -d"-$NB_DAYS days"  +%Y%m%d`
TODAY_DIR=`date +%Y/%m/%d`
Databases='{%  for collection in databases %}{{ collection }}{% if not loop.last %}, {% endif %}{%  endfor %}'
Servers=localhost
Backup_path='{{ Backup_path }}'
Retention=20
DESTINATION_FILE="gs://backup.fifty-five.com/$HOSTNAME/BACKUP_MONGODB/$TODAY_DIR/"
LOG="{{ Backup_path }}/mongo_backup.log"

#create backup path
if [ ! -d $Backup_path ]; then
	mkdir $Backup_path
fi;

#clean up old backup
find $Backup_path -mtime +$Retention -exec rm -rf {} \;

#backup databases
for bases in $Databases
do
	mongodump -u '{{ admin_user }}' -p '{{ mongodb_admin_passwd }}' -h $Servers -d $Databases --out $Backup_path/$Databases_$(date +"%m-%d-%y")
        echo " gsutil find $EXPORT_DIRECTORY/$CURRENT_DIRECTORY +mtime +$Retention -exec rm -rf {} \;"  >> $LOG 2>> $LOG.err
        echo "	tar -cvf $(date +"%m-%d-%y").tar.gz $Backup_path/$Databases_$(date +"%m-%d-%y")"  >> $LOG 2>> $LOG.err
	echo " gsutil rsync  $Backup_path/$Databases_$(date +"%m-%d-%y")  $DESTINATION_FILE " >> $LOG 2>> $LOG.err
done
