# mongo.conf

#where to log
logpath=/var/log/mongodb/mongod.log
logappend=true
# fork and run in background
#fork = false
dbpath=/home/mongodb/

#bind_ip = 127.0.0.1,{{ ansible_eth0["ipv4"]["address"] }}
port = {{ mongod_port }}
# Enable quota management
quota = true
quotaFiles = 8
smallfiles = true
# location of pidfile

