
<VirtualHost {{ interfaces|default('*') }}:{{ port|default('80') }}>
    ServerAdmin webmaster@fifty-five.com
    ServerName surveys-orig.55labs.com
    DocumentRoot /home/var/www/surveys-orig/published

    <Directory /home/var/www/surveys-orig/published>
        Require all granted
        AllowOverride All
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.http.surveys-orig.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/access.http.surveys-orig.log combined
    ErrorDocument 404 /error.html
    ErrorDocument 503 /error.html
    Header set Access-Control-Allow-Origin "*"
</virtualHost>



<VirtualHost {{ interfaces|default('*') }}:{{ port|default('443') }}>

    ServerAdmin webmaster@fifty-five.com
    ServerName surveys-orig.55labs.com
    DocumentRoot /home/var/www/surveys-orig/published

     <Directory /home/var/www/surveys-orig/published>
        Require all granted
        AllowOverride All
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.https.surveys-orig.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/access.https.surveys-orig.log combined
    SSLEngine on
    SSLOptions +StrictRequire
    SSLCACertificateFile    /etc/ssl/GandiStandardSSLCA2.pem
    SSLCertificateFile      /etc/ssl/55labs.com.crt
    SSLCertificateKeyFile   /etc/ssl/55labs.com.key
    ErrorDocument 404 /error.html
    ErrorDocument 503 /error.html

    Header set Access-Control-Allow-Origin "*"
</VirtualHost>




<VirtualHost {{ interfaces|default('*') }}:{{ port|default('80') }}>

    ServerAdmin webmaster@fifty-five.com
    ServerName s-test-orig.55labs.com
    DocumentRoot /home/var/www/surveys-orig/published/ca-edgecast-test-publisher/published

    <Directory /home/var/www/surveys-orig/published/ca-edgecast-test-publisher/published>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.http.s-test-orig.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/access.http.s-test-orig.log combined
    ErrorDocument 404 /error.html
    ErrorDocument 503 /error.html
    
    Header set Access-Control-Allow-Origin "*"
</virtualHost>


 
 
