
<VirtualHost {{ interfaces|default('*') }}:{{ port|default('80') }}>

    ServerAdmin webmaster@fifty-five.com
    ServerName surveys-orig.55labs.com
    DocumentRoot /home/var/www/surveys-orig/published

    <Directory /home/var/www/surveys-orig/published>
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/surveys-cdn.log combined
    ErrorDocument 404 /error.html
    ErrorDocument 503 /error.html
{% endfor %}
</virtualHost>


      
<VirtualHost {{ interfaces|default('*') }}:{{ port|default('443') }}>

    ServerAdmin webmaster@fifty-five.com
    ServerName surveys-orig.55labs.com
    DocumentRoot /home/var/www/surveys-orig/published

     <Directory /home/var/www/surveys-orig/published>
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/surveys-cdn.log combined
    SSLEngine on
    SSLOptions +StrictRequire
    SSLCACertificateFile    /etc/ssl/GandiStandardSSLCA2.pem
    SSLCertificateFile      /etc/ssl/55labs.com.crt
    SSLCertificateKeyFile   /etc/ssl/55labs.com.key


</VirtualHost>





<VirtualHost {{ interfaces|default('*') }}:{{ port|default('80') }}>

    ServerAdmin webmaster@fifty-five.com
    ServerName s-test-orig.55labs.com
    DocumentRoot /home/var/www/surveys-orig/published/ca-edgecast-test-publisher

    <Directory /home/var/www/surveys-orig/published/ca-edgecast-test-publisher/>
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/surveys-cdn.log combined
    ErrorDocument 404 /error.html
    ErrorDocument 503 /error.html
{% endfor %}
</virtualHost>
