{% if ftp_backup_server is defined  %}
    machine {{ ftp_backup_server }}
{% endif %}
{% if ftp_user is defined  %}
    login {{ ftp_user }}
{% endif %}
{% if ftp_passwd is defined %}
    password {{ ftp_passwd }}
{% endif %}