## l'utilisateur est enferme dans un dossier determine
local_root={{ user_path }}/{{ item.customer_name }}/ftp/in
## on ne souhaite pas de lecture seule (Lecture seulement)
anon_world_readable_only=NO

## droit d'ecriture(upload)
write_enable=YES
anon_upload_enable=YES

## creer des dossiers
anon_mkdir_write_enable=YES

## droit de renommer, supprimer...
anon_other_write_enable=YES

## pour gerer le chmod de l'utilisateur
## activer l'option
virtual_use_local_privs=YES
## definir l'option local_umask
local_umask=022
