# {{ ansible_managed }}

command[check_users]={{nagios_plugins_directory}}/check_users -w 5 -c 10
command[check_load]={{nagios_plugins_directory}}/check_load -w {{ansible_processor_vcpus*0.9}},{{ansible_processor_vcpus*0.7}},{{ansible_processor_vcpus*0.5}} -c {{ansible_processor_vcpus}},{{ansible_processor_vcpus*0.8}},{{ansible_processor_vcpus*0.6}}
command[check_zombie_procs]={{nagios_plugins_directory}}/check_procs -w 5 -c 10 -s Z
command[check_total_procs]={{nagios_plugins_directory}}/check_procs -w 190 -c 250
command[check_backup]={{nagios_plugins_directory}}/check_backup
command[check_disk1]={{nagios_plugins_directory}}/check_disk -w 20% -c 10% -p /
command[check_ufw]={{nagios_plugins_directory}}/check_ufw
command[check_cpu]={{nagios_plugins_directory}}/check_cpu -w 90 -c 98
command[check_apt]={{nagios_plugins_directory}}/check_apt
command[check_swap]={{nagios_plugins_directory}}/check_swap -w 20% -c 5%
command[check_memory]={{nagios_plugins_directory}}/check_memory -w 80 -c 90
command[check_home]={{nagios_plugins_directory}}/check_disk -w 20% -c 10% -p /home
command[check_all_mounted_disks]={{nagios_plugins_directory}}/check_disk -w 20% -c 10% -r ^/dev/
command[check_ntp]={{nagios_plugins_directory}}/check_ntp_time -H ntp -w'-1:1' -c'-3:3'
command[check_fail2ban]={{nagios_plugins_directory}}/check_fail2ban -p -w 1  -c 5  -P  /usr/bin/fail2ban-client
#command[check_mailq]={{nagios_plugins_directory}}/check_mailq -w $ARG1$ -c $ARG2$ -M postfix




 {% if inventory_hostname in groups['dash'] or groups['dash-test'] %}
    #command[check_loginservlet]=/usr/lib/nagios/plugins/check_log -F /home/logs/login.log -O /tmp/login.nagios.log -q "ERROR"
    #command[check_log_fulldump]=/usr/lib/nagios/plugins/check_log -F /home/runner/muliBase/log/fullBackup.err.log -O /home/runner/muliBase/log/fullBackup.err.log.diff -q [ERROR]
    command[check_tomcat]=/usr/lib/nagios/plugins/check_tcp -8080
    command[check_mysql_status]=/usr/lib/nagios/plugins/check_mysql_alternative
    command[check_mysql_local]=/usr/lib/nagios/plugins/check_mysql -H 127.0.0.1 -u root -p 7etrUPhA
    command[check_apache]=/usr/lib/nagios/plugins/check_apache
 {% endif %}



{% if inventory_hostname in groups['int-io']  %}
    command[check_ftp]={{nagios_plugins_directory}}/check_ftp -H localhost -w 2 -c 5
    command[check_ftp]={{nagios_plugins_directory}}/check_tcp -p 21

{% endif %}


{% if inventory_hostname in groups['api']  %}
    command[check_mongodb]={{nagios_plugins_directory}}/check_mongodb.py -u {{ mongodb_admin_user }} -p {{ mongodb_admin_passwd }}
    {% for port in 5000,5001,5002,5003,5004,5006,5007,5008,8082  %}
    command[check_ftp]={{nagios_plugins_directory}}/check_tcp -p {{ port }}

    {% endfor %}

{% endif %}

{% if inventory_hostname in groups['legacy'] %}
command[check_all_mounted_disks]=/usr/lib/nagios/plugins/check_disk -w $ARG1$ -c $ARG2$ -r ^/dev/
command[check_apache]=/usr/lib/nagios/plugins/check_http -I '127.0.0.1'
command[check_mysql_local]=/usr/lib/nagios/plugins/check_mysql -H '127.0.0.1' -u 'db_user' -p '2store4GOOD'
command[check_mysql_slavestatus]=/usr/lib/nagios/plugins/check_mysql_slavestatus -H 'tableaubdd.55labs.com' -P3306 -u 'repl' -p 'TheReplicationPassw0rd'
command[check_ufw]=/usr/lib/nagios/plugins/check_ufw
command[check_crashed_tables]=/usr/lib/nagios/plugins/check_mysql_crashedtables.sh localhost db_user 2store4GOOD
command[check_ace_bandwidth]=/usr/lib/nagios/plugins/check_bandwidth
command[check_ace_connections_http]=/usr/lib/nagios/plugins/check_connections_http
command[check_ace_connections_https]=/usr/lib/nagios/plugins/check_connections_https
command[check_ace_connections]=/usr/lib/nagios/plugins/check_connections
command[check_disk2]=/usr/lib/nagios/plugins/check_disk -w $ARG1$ -c $ARG2$ -p /home
command[check_disk1]=/usr/lib/nagios/plugins/check_disk -w $ARG1$ -c $ARG2$ -p /
command[check_mysql_status]=/usr/lib/nagios/plugins/check_mysql_alternative
command[check_mysql_local]=/usr/lib/nagios/plugins/check_mysql -H 127.0.0.1 -u db_user -p 2store4GOOD
command[check_log]=/usr/lib/nagios/plugins/check_log

{% endif %}




