object Host "{{ inventory_hostname }}" {
  /* Import the default host template defined in `templates.conf`. */
  import "generic-host"

  /* Specify the address attributes for checks e.g. `ssh` or `http`. */
  address = "{{ hostvars[inventory_hostname]["ansible_default_ipv4"]["address"] }}"

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"
{% if inventory_hostname in groups['int-io']     %}
    vars.type = "int-io"
{%  endif %}

{% if inventory_hostname in groups['dash']   %}
    vars.type = "dash"
{%  endif %}

{% if inventory_hostname in groups['api']    %}
    vars.type = "api"
{%  endif %}



  vars.disks["disk /"] = {
    disk_partitions = "/"
  }

  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }
}

apply Service "check_users" {
  import "generic-service"
  check_command = "users"
  assign where host.name == "{{ inventory_hostname }}"
}


apply Service "check_apt" {
  import "generic-service"
  check_command = "apt"
  assign where host.name == "{{ inventory_hostname }}"
}


apply Service "check_swap" {
  import "generic-service"
  check_command = "swap"
  assign where host.name == "{{ inventory_hostname }}"
}


apply Service "check_load" {
  import "generic-service"
  check_command = "load"
  assign where host.name == "{{ inventory_hostname }}"
    }

{% for plugin in plugins_list %}
apply Service "{{ plugin }}" {
  import "generic-service"
  check_command = "{{ plugin }}"
  assign where host.name == "{{ inventory_hostname }}"
}

{% endfor %}


{% if inventory_hostname in groups['int-io']  %}

    {% for plugin in plugins_int_list %}
apply Service "{{ plugin }}" {
  import "generic-service"
  check_command = "{{ plugin }}"
  assign where host.name == "{{ inventory_hostname }}"
}
{% endfor %}

{% endif %}



 {% if inventory_hostname in groups['dash']   %}


     {% for plugin in plugins_dash_list %}
apply Service "{{ plugin }}" {
  import "generic-service"
  check_command = "{{ plugin }}"
  assign where host.name == "{{ inventory_hostname }}"
}

{% endfor %}


/* Define http vhost attributes for service apply rules in `services.conf`. */
  vars.http_vhosts["http"] = {
    http_uri = "/"
  }
{% endif %}







{% if inventory_hostname in groups['api']   %}

    {% for port in 5000,5001,5002,5003,5004,5006,5007,5008,8082 %}

apply Service "check_api_{{ port }}" {
import "generic-service"
check_command = "check_api_{{ port }}"
assign where host.name == "{{ inventory_hostname }}"
}{% endfor %}



     {% for plugin in plugins_api_list %}
apply Service "{{ plugin }}" {
import "generic-service"
check_command = "{{ plugin }}"
assign where host.name == "{{ inventory_hostname }}"
}

{% endfor %}


{% endif %}




