define host{
        use                     generic-host            ; Name of host template to use
        host_name               {{ inventory_hostname }}.55labs.com
        alias                   {{ inventory_hostname }}
        address                 {{ hostvars[inventory_hostname]["ansible_default_ipv4"]["address"] }}
        check_command           check-host-alive
        }







define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}.55labs.com
        service_description             Disk Space
        check_command                   check_all_disks!10%!5%
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}.55labs.com
        service_description             Current Users
        check_command                   check_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}.55labs.com
        service_description             Total Processes
        check_command                   check_procs!400!800
        }



# Define a service to check the load on the local machine.
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       {{ inventory_hostname }}.55labs.com
        service_description             Current Load
        check_period                    dashboard_idle_timeperiod
        check_command                   check_load!20.0!20.0!20.0!40.0!40.0!40.0
        }