input {
  file {
    type => "linux-syslog"
    path => [ "/var/log/daemon.log", "/var/log/auth.log", "/var/log/mail.info" ]
  }
}


#filter {
#  if [type] == "linux-syslog" {
#      grok {
#        match => { "message" => "Accepted %{WORD:auth_method} for %{USER:username} from %{IP:src_ip} port %{INT:src_port} ssh2" }
#      }
#      grok {
#        match => { "message" => "Invalid user %{USER:username} from %{IP:src_ip}" }
#      }
#  }
#}


{% if inventory_hostname in int-io or int %}

{
input {
  file {
    type => "xferlog"
    path => [  "/var/log/proftpd/xferlog" ]
    add_field => { "program" => "proftpd" }
  }
}


filter {
	if [type] == "xferlog" {
	grok {
	match => { "message" => "%{DAY} %{MONTH} %{MONTHDAY} %{TIME} %{YEAR} %{NUMBER:xferTime} %{HOSTNAME:remoteHost} %{NUMBER:fileSize} %{PATH:fileName} %{WORD:transferType} %{WORD: specialActionFlag} %{WORD:direction} %{WORD:accessmode} %{WORD:username} %{WORD:serviceName} %{WORD:authenticationMethod} %{DATA:aut} %{WORD:completionStatus}" }
	}	
 
	date {
	match => [ "time", "EEE MMM dd HH:mm:ss YYYY" ]
	timezone => [ "Europe/London" ] # Change to your local timezone
	}
 
	geoip {
	source => [ "remoteHost" ]
	}
 
	}	
}
{% endif %}

##


output {
   stdout {
        codec => rubydebug
   }

   elasticsearch_http {
       codec => json {
       charset => "UTF-8"

       }

        host => "esdev.55labs.com"
        manage_template => false
        index => "system"
        workers => 1
      }

}
