#!/bin/bash

cd /home/runner/{{ logstash_version }}
export usage="./start.sh int|dash|api"

#if [ -z $1 ]; then echo "$usage ";exit; else export machineType=$1;  fi
#if [ -z $2 ]; then echo "$usage ";exit; else export ENV=$2;  fi
if [ -z $1 ]; then echo "$usage ";exit; else export env=$1;  fi


echo "Launching Log Stash...."
echo "Machine Type :    $machineType"
echo "Environment :     $ENV"
echo "Configuration :   $config "


#./logstash-1.4.2/bin/logstash agent -f configurations/$machineType/$ENV/logstash-$config.conf

bin/logstash agent -f configuration/$env/config.conf
