# logstash - shipper instance
# $Id: Logstash - Application Usage

description     "logstash application usage"

start on virtual-filesystems
stop on runlevel [06]

respawn
respawn limit 5 30
limit nofile 65550 65550

# set HOME to point to where you want the embedded elasticsearch
# data directory to be created and ensure /apps/logstash is owned
# by runner:runner


env JAVA_OPTS='-Xms256m -Xmx256m'
env HOME=/home/runner/logstash-1.4.2
chdir /home/runner/logstash-1.4.2
setuid runner
setgid runner
console log

# for versions 1.1.1 - 1.1.4 the internal web service crashes when touched
# and the current workaround is to just not run it and run Kibana instead

script
  exec ./start.sh {% if inventory_hostname in groups['int-io'] or  ['int-test']%} int {% endif %} {% if inventory_hostname in groups['api'] or groups['api-test'] %} api {% endif %} {% if inventory_hostname in groups['dash'] %} dash {% endif %} 
end script
